<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.larma.arthook.test" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name="de.larma.arthook.test.MyApplication"
        android:label="@string/app_name" >
        <activity
            android:name="de.larma.arthook.test.MyActivity"
            android:label="@string/title_activity_my" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
